<%= render 'spree/shared/error_messages', :target => @page %>
<h1><%= t("editing_page") %></h1>

<%= form_for(:page, :url => object_url, :html => { :method => :put }) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
	<%= render :partial => "spree/admin/shared/edit_resource_links" %>
<% end %>
